<div class="section-container">
  <div class="row-fluid cards">
    <div class="card-deck">
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>State Wise Movement</h5>
        </div>
        <div class="card-body">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>

      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Farms By State</h5>
        </div>
        <div class="card-body">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>

      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Movement Reasons</h5>
        </div>
        <div class="card-body">
          <app-donut-chart></app-donut-chart>
        </div>
      </div>
    </div>
    <div class="row-fluid cards">
      <div class="card shadow card-theme card-bottom">
        <div class="card-header card-header theme">
          <h5>Movements Map</h5>
        </div>
        <div class="card-body">
          <app-map-chart></app-map-chart>
        </div>
      </div>
    </div>
  </div>
</div>
